# Blacklist files/folders in same directory as the .gitignore file
/**

# Whitelist some files
!.gitignore
!/kitty/
!/kitty/**
!/nvim/
!/nvim/**
!/zellij/
!/zellij/**
!starship.toml
# !wp-content/
# wp-content/**
# !wp-content/themes/
# wp-content/themes/**
# !wp-content/plugins/
# wp-content/plugins/**
