layout {
  cwd "~"
  tab_template name="tab-with-bar" {
    children
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
  }
  tab-with-bar name="editor" focus=true cwd="~/projects"
  tab-with-bar name="sh" split_direction="vertical" cwd="~/projects" {
    pane
    pane
  }
  tab-with-bar name="notes" split_direction="vertical" cwd="~/notes" {
    pane
  }
  tab-with-bar name="sh-2" split_direction="vertical" {
    pane
  }
  tab-with-bar name="sh-3" split_direction="vertical" {
    pane
  }
  tab-with-bar name="docker-cont" split_direction="vertical" {
    pane
  }
}
